<style type="text/css" href="mystyle.css" />
body
{
	
		background: none repeat scroll 0 0 #fffff;   
	  margin:0;
}

.header{ 
					 background-image:url(template/images/gradient_head.png);
					 background-repeat:repeat-x;
					 height:79px;
			 }

.liner{ 
	      	 background-image:url(template/images/liner.jpg);
					 background-repeat:repeat-x;
					 background-position:center; 
					 height:20px;
			 }

.logo
       { 
			 	 	 height:79px;
					 width:387px;
			 }


.content{ 
					background-image:url(template/images/content.png);
					width:438px;
					height:268px; 
					border-radius:15px;
					border: 2px solid #C3C0B2;  
					box-shadow: 10px 10px 5px #888;
				}
				


.result{ 
	
			 }

					 
.footer{
					border-top:1px solid gray;
					clear: both;
					color: #9EC1CF;
					font-size: 11px;
					text-align: center;
			 }
		 



</style>



