if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Calllist]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Calllist]
GO

CREATE TABLE [dbo].[Calllist] (
	[I3_RowID] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PhoneNumber] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Zone] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Status] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Attempts] [int] NULL ,
	[Counter] [int] NULL ,
	[I3_AttemptsAbandoned] [int] NULL ,
	[I3_AttemptsMachine] [int] NULL ,
	[I3_AttemptsBusy] [int] NULL ,
	[I3_AttemptsFax] [int] NULL ,
	[I3_AttemptsNoAnswer] [int] NULL ,
	[MoneyCounter] [money] NULL ,
	[Name] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CODE1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CODE2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CODE3] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CODE4] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CODE5] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SINGTEL_TYPE_OF_SERVICE] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Citizenship] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address] [varchar] (120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address2] [varchar] (120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address3] [varchar] (120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Application_Date] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Activation_Date] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Appointment_Time] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ADSL_No] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Mobile_No] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IPTV_No] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Installation_Address] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Applicant_Name] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[NRIC] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Product] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Speed] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SSP] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Product_Offer] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Secondary_Contact] [varchar] (1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Customer_Request] [varchar] (8000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Call_Notes] [varchar] (8000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Remarks] [varchar] (8000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Manual_Call_ID] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Call_Time] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Diallist] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ListCode] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[area3] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[i3_identity] [bigint] NOT NULL ,
	[i3_attemptsremotehangup] [int] NULL ,
	[i3_attemptssystemhangup] [int] NULL ,
	[i3_attemptsrescheduled] [int] NULL ,
	[i3_attemptssitcallable] [int] NULL ,
	[i3_siteid] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[i3_activeworkflowid] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

